@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-accent: rgb(84, 138, 203);
  --secondary-accent: rgb(39, 3, 79);
}

body {
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  line-height: 0.5;
  margin: 4rem 0 2rem;
}

h3 {
  margin-bottom: 2rem;
}

/* NAVBAR */
nav {
  padding: 0 4rem;
  display: flex;
  align-items: center;
  color: var(--secondary-accent);
}

nav ul {
  margin-left: auto;
}

.link {
  color: #333;
  text-decoration: none;
}

.nav-link {
  margin-right: 2rem;
}

.nav-link:is(:focus, :hover) {
  text-decoration: underline;
}

.logo a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--secondary-accent);
}

/* NAVBAR */

.home-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.home-link {
  align-items: center;
  appearance: none;
  margin-bottom: 1rem;
  background-image: radial-gradient(100% 100% at 100% 0, var(--primary-accent) 0, var(--secondary-accent) 100%);
  border: 0;
  border-radius: 0.6rem;
  box-shadow: rgba(45, 35, 66, .4) 0 1px 2px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 3rem;
  width: 15rem;
  justify-content: center;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.home-link:focus {
  box-shadow: var(--secondary-accent) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--secondary-accent) 0 -3px 0 inset;
}

.home-link:active {
  box-shadow: var(--secondary-accent) 0 3px 7px inset;
  transform: translateY(2px);
}