@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-accent: rgb(84, 138, 203);
  --secondary-accent: rgb(39, 3, 79);
}

body {
  font-family: 'Poppins', sans-serif;
}

.home-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.link {
  color: #333;
  text-decoration: none;
}

.nav-link {
  margin-right: 2rem;
}

.home-link {
  --localAccent: var(--primary-accent);
  font-size: 1.4rem;
  width: 15rem;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.4rem 1.1rem;
  border-radius: 0.6rem;
  background-color: var(--localAccent);
  color: #fff;
  border: 2px solid var(--localAccent);
  text-transform: uppercase;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 1px 2px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}